.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.grid-spacing-1 {
  gap: 1rem;
}

.grid-spacing-2 {
  gap: 2rem;
}

.grid-spacing-3 {
  gap: 3rem;
}

.grid-spacing-4 {
  gap: 4rem;
}

.grid-spacing-5 {
  gap: 5rem;
}
